:root {
    --color1: #F8B78B;
}

body  {
font-family: sans-serif;
background-color: var(--color1);
background-image: url(../img/fondoTop.svg) , url(../img/fondoBotton.svg);
background-repeat: no-repeat, no-repeat;
background-position: right 50vw bottom 50vh , left 50vw top 50vh;
}

.contenedor{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card{
  background-color: white;
  width: 328px;
  border-radius: 16px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);

  &-header  {
    width: 100%;
    display: block;
  }

  &-body  {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-contentimg  {
      border: 5px solid #F67C55;
      border-radius: 50%;

    }
  }
}
